* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Top Button */

.container {
    margin: 0 100px;
}

.header {
    margin: 40px 0 20px;
    padding-bottom: 16px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid rgb(202, 188, 188);
}

.header .title {
    float: left
}

.flex-container-header {
    /* background-color: salmon; */
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
}

.btn {
    border: 1px solid rgb(250, 42, 42);
    margin-right: 28px;
    padding: 4px;
    box-shadow: 2px 2px 8px #000;
    background-color: #fff;
    opacity: 0.6;
}

.btn:hover {
    background-color: rgb(250, 42, 42);
    color: white;
    opacity: 0.8;
}

/* Content */

.flex-container {
    background-color: salmon;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-div {
    border: 1px solid rgb(202, 188, 188);
    flex-basis: 25%;
    width: 24%;
    height: 240px;
    background-color: skyblue;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    flex-container {

    }
}